.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100vh;
  background-image: url("../src/images/pc/login.svg"); }

h1, h4 {
  margin: 0;
  padding-bottom: 10px;
  color: #eee; }

h1 {
  padding-top: 50px;
  opacity: .9; }

h4 {
  padding-bottom: 20px;
  opacity: .5; }

label {
  font-size: 0.9em;
  margin-top: 15px;
  color: #eee; }

.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  background: #363636;
  border-radius: 5px; }

#loginForm {
  display: flex;
  flex-direction: column;
  width: 85%; }

input[type="text"], input[type="password"] {
  display: flex;
  padding: 10px 5px;
  width: 100%;
  border: 1px solid rgba(19, 19, 19, 0.473);
  border-radius: 3px;
  margin: 5px auto;
  transition: all 100ms; }

input[type="text"]:hover, input[type="password"]:hover {
  border-color: #131313; }

input[type="text"]:focus, input[type="password"]:focus {
  border-color: cornflowerblue; }

.submit {
  display: flex;
  margin-top: 30px; }

button[type="submit"] {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  border: none;
  border-radius: 3px;
  background: #5157a7;
  color: #eeeeee;
  font-size: 1em;
  cursor: pointer;
  transition: 400ms all; }

button[type="submit"]:hover {
  opacity: .9;
  transition: 400ms all; }

.r {
  margin-top: 4px;
  margin-bottom: 50px;
  font-size: .8em;
  color: rgba(238, 238, 238, 0.801); }

.r a {
  font-size: 1.1em;
  text-decoration: none;
  color: #5a8efd; }
