
footer {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
}

.foot-container {
    display: flex;
    width: 80%;
    border-top: 1px solid rgba(160, 160, 160, 0.363);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.f-left-container {
    width: 25%;
    margin-left: 25px;
}
.foot-p p {
    color: rgb(216, 216, 216);
    font-size: 2em;
}
.f-middle-container {
    display: flex;
    width: 60%;
}
.f-rigth-container{
    display: flex;
    justify-content: flex-end;
    width: 15%;
    margin-right: 25px; 
}
.btn-su-f {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: rgba(240, 248, 255, 0.808);
    background-color: rgb(148, 20, 99);
    width: 160px;
    height: 50px;
    margin-top: 40px;
    border-radius: 5px;
    text-decoration: none;
    opacity: .95;
    transition: all 200ms;
}
.btn-su-f:hover {
    opacity: 1;
}
.icon-f {
    display: none;
}

@media (max-width: 600px) {
    .f-left-container {
        width: 33%;
        margin-left: 0;
        padding-top: 20px;
    }
    .f-middle-container {
        display: none;
    }
    .f-rigth-container {
        width: 33%;
        margin-right: 0;
        padding-top: 10px;
    }
    .btn-su-f {
        width: 90px;
        height: 40px;
    }
    .icon-f-container {
        display: flex;
        justify-content: center;
        margin-top: 130px;
        padding-left: 10px;
        padding-top: 10px;
        width: 33%;
        border-top: 1px solid white;
    }
    .icon-f {
        display: flex;
        margin-right: 15px;
    }
    .foot-p p {
        font-size: 1.5em;
    }
    .foot-container {
        width: 90%;
        border: 0;
    }
    footer {
        background-color: rgb(8, 12, 15);
    }
}